# Node.js
node_modules/

# Configuration base de données
config.json

# Fichier d'environnement
.env

# Clé API Firebase
firebase_staging_key.json
firebase_credentials.json

# Fichiers de logs
/logs

.DS_Store
